// HELPERS
@import "vendor/flexbox";
@import "vendor/include_media";
@import "helpers";
@import "clues_view";
@import "site_footer";
@import "video_player";
@import "loader";

html {
  padding: 0;
  margin: 0;
}

a {
  color: #FFF;
}

body {
  padding: 0;
  margin: 0;

  background-color: #1B2A39;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left center;
  background-size: cover;
  background-image: url(/assets/flag-small.jpg);

  @include media(">=desktop") {
    background-image: url(/assets/flag.jpg);
  }

  display: block;
  min-height: 100vh;
  overflow: scroll;
}

.headline-text {
  font-size: 25px;
  line-height: 30px;
  padding: 10px 30px 5px;
  margin-top: 0;
  border-bottom: 2px solid #FFF;

  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;

  @include media(">phone") {
    font-size: 35px;
    line-height: 40px;
  }

  @include media(">tablet") {
    font-size: 55px;
    line-height: 55px;
    padding: 25px 75px 10px;
    border-bottom: 3px solid #FFF;

    background: url(/assets/star.png) left center no-repeat, url(/assets/star.png) right center no-repeat;
    background-size: 40px 40px;
  }
}

.subhead-text {
  margin: 5px 0 0;
  font-size: 17px;
  padding-top:0;
  font-weight: normal;
  white-space: nowrap;
  letter-spacing: 3px;

  @include media(">phone") {
    font-size: 20px;
  }

  @include media(">tablet") {
    font-size: 30px;
  }
}

.container {
  position: absolute;
  top: 0;
  display: block;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-family: "Ledger";
}

.loading-spinner {
  svg {
    margin: auto auto;
    circle {
      fill: white;
    }
  }
  text-align: center;
}


a.next-clue {
  background: #49749D;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.50);
  border-radius: 3px;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 7px 15px;
  margin-bottom: 15px;

  &:active {
    background: #2D5F8F;;
  }
  &.disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  @include media(">tablet") {
    min-height: 100vh;
  }
  justify-content: space-between;
  align-items: center;
}

.flex-container.is-fluid {
  height: auto;

  .flex-body {
    height: auto;
    // min-height: 400px;
  }

  .flex-action {
    height: auto;
    margin-bottom: 25px;
  }
}

.flex-header {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.flex-body {
  display: flex;
  padding: 0;
  flex-grow: 2;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 70vh;
  @include media(">phone") {
    min-height: 65vh;
  }
  @include media(">tablet") {
    min-height: 0;
  }
}

.flex-action {
  display: flex;
  flex-direction: column;
  @include media(">phone") {
    height: 15vh;
  }
  @include media(">tablet") {
    height: auto;
  }
  align-content: center;
  margin-bottom: 25px;
}


.solve-the-mystery {
  background-color: rgba(0, 0, 0, 0.8);
  flex-grow: 0!important;
  min-height: 0!important;
  height: auto!important;
  padding: 10px;
  margin: 30px auto;
  text-align: left;

  @include media(">620px") {
    text-align: center;
    margin: 20px auto;
    padding: 20px 50px;
    font-size: 20px;
  }

  max-width: 600px;

  .sharing-buttons {
    margin-top: 10px;
  }

  a {
    text-decoration: underline;
    color: red;
  }
}

.solve-the-mystery-steps {
  text-align: left;
}

.solve-the-mystery-steps-header {
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
  @include media(">620px") {
    font-size: 20px;
  }
}

.solve-the-mystery-steps-list {
  text-align: left;

  li {
    padding: 5px 0;
  }
}
