// HELPERS
@import "vendor/flexbox";
@import "vendor/include_media";
@import "helpers";

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: url(/assets/flag.jpg) no-repeat fixed left center;
  background-size: cover;
  display: block;
  min-height: 100vh;
  overflow: scroll;
  @include media("<tablet") {
    // background: url(/assets/flag.jpg) no-repeat left center;
    // background-size: cover;
  }
}

a {
  color: #FFF;
}

.cruz-headline {
  font-size: 30px;
  line-height: 30px;
  padding: 15px 30px 10px;
  margin-top: 0;
  border-bottom: 2px solid #FFF;

  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;

  @include media(">tablet") {
    font-size: 60px;
    line-height: 60px;
    padding: 25px 75px 20px;
    border-bottom: 5px solid #FFF;

    background: url(/assets/star.png) left center no-repeat, url(/assets/star.png) right center no-repeat;
    background-size: 40px 40px;
     // url(assets/star.png) right center no-repeat;

  }
}

.cruz-subhead {
  margin: 10px 0 0;
  font-size: 20px;
  padding-top:0;
  font-weight: normal;
  white-space: nowrap;
  letter-spacing: 3px;

  @include media(">tablet") {
    font-size: 30px;
  }
}

.container {
  position: absolute;
  top: 0;
  display: block;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-family: "Ledger";
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;

  .flex-header {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .clues-view {
    display: flex;
    width: auto;
    padding: 0;
    flex-grow: 2;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }

  .clues-view.video {
    .video-player {
      display: inline-block;
    }

    .video-player-content {
      display: inline-block;
      margin: auto auto;
    }
  }

  figure.clue {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  @keyframes placeHolderShimmer{
      0%{
          background-position: -468px 0
      }
      100%{
          background-position: 468px 0
      }
  }


  .clue .clue-inner {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 8%, rgba(255, 255, 255, 0.05) 18%, rgba(255, 255, 255, 0.1) 33%);
    background-size: cover;
    position: relative;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.50);
  }

  .clue figcaption {
    display: block;
  }

  .flex-action {
    display: flex;
    flex-direction: column;
    height: 10vh;
    align-content: center;
    margin-bottom: 25px;
  }

  a.next-clue {
    background: #49749D;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 7px 15px;

    &:active {
      background: #2D5F8F;;
    }

  }
}

.flex-footer {
  font-size: 15px;

  @include media(">tablet") {
    font-size: 14px;
  }

  opacity: 0.8;
  padding-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;

  .made-by {
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    margin: 0 10px;
    padding: 0 10px;
  }
}


.flex-container.is-fluid {
  height: auto;

  .clues-view {
    height: auto;
    min-height: 400px;
  }


  .flex-action {
    height: auto;
    margin-bottom: 25px;
  }
}

.video-player-content {
  position: relative;
}

.unmute-and-play-video {
  background-color: #111;
  opacity: 0.9;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  left: 10px;
  bottom: 40px;
  cursor: pointer;
  border-radius: 0;
  padding: 10px;
  border: 0;

  &:hover {
    background-color: #FFF;
    color: #000;
  }
}

.animated-background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
