<ul class="site-footer-links">
  <li>
    <a class="new-clue" {{action 'trackTipClick' preventDefault=false}} href="mailto:tips@cruzclues.com">Submit a new clue</a>
  </li>
  <li>
    {{#link-to 'solve' class="take-action"}}
  Solve The Mystery
    {{/link-to}}
  </li>
  <li>
    <a class="complaints" {{action 'trackComplaintClick' preventDefault=false}}  href="tel:+1-248-434-5508">Complaints</a>
  </li>
</ul>

<span class="site-footer-made-by">Made in Texas by people who are so tired of Ted Cruz</span>
