{{!--
  Add content you wish automatically added to the documents head
  here. The 'model' available in this template can be populated by
  setting values on the 'head-data' service.
--}}

<title>{{model.title}}</title>
<meta property="og:title" content="{{model.title}}">
<meta property="og:description" content="Who is Ted Cruz? Here's a clue.">
{{#if model.image}}
  <meta property="og:image" content="{{model.image}}">
{{else}}
  <meta property="og:image" content="https://cruzclues.com/assets/flag.jpg">
{{/if}}
<meta name="twitter:card" content="summary_large_image">
